<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>Home</title>
    <!-- MDB icon -->
    <link rel="icon" href="img/mdb-favicon.ico" type="image/x-icon"/>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"/>
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"/>
    <!-- MDB -->
    <link rel="stylesheet" href="../css/mdb.min.css"/>
    <!-- Custom Css -->
    <link rel="stylesheet" href="../css/style.css">
    <!-- Custom Js -->
    <script src="../js/script.js"></script>
</head>
<body>
<!-- header -->
<header>
    <nav class="navbar navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand">Navbar</a>
            <form class="d-flex input-group w-auto">
                <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                       aria-describedby="search-addon"/>
                <span class="input-group-text border-0" id="search-addon">
            <i class="fas fa-search text-light"></i>
          </span>
            </form>
        </div>
    </nav>
</header>

<!-- container -->
<div class="container mt-5">
    <div class="d-flex justify-content-between">
        <!-- Create new Article -->
        <button th:text="#{btn.create}" id="btn-new-article" type="button" class="btn btn-success btn-rounded" data-mdb-toggle="modal"
                data-mdb-target="#addModal">
            Create new article
        </button>
        <!-- Language -->
        <div id="btn-lang" class="btn-group" role="group" aria-label="Basic example">
            <button value="kh" th:text="#{lang.khmer}" id="btn-kh" type="button" class="btn btn-light" onclick="onLanguageChange(this.value)">Khmer</button>
            <button value="" th:text="#{lang.english}" id="btn-eng" type="button" class="btn btn-light" onclick="onLanguageChange(this.value)">English</button>
            <button value="kr" th:text="#{lang.korea}" id="btn-kr" type="button" class="btn btn-light" onclick="onLanguageChange(this.value)">Korea</button>
        </div>
    </div>
    <!-- table data -->
    <div style="overflow-y: auto;">
        <table class="table mt-4 w-100" id="table-data">
            <thead>
            <tr class="bg-primary text-light">
                <th th:text="#{table.id}" scope="col"></th>
                <th th:text="#{table.title}" scope="col"></th>
                <th th:text="#{table.description}" scope="col"></th>
                <th th:text="#{table.image}" scope="col"></th>
                <th th:text="#{table.action}" scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="article : ${articles}">
                <th scope="row" class="w-auto" style="width: 5%;" th:text="${article.id}" id="id">1</th>
                <td th:text="${article.title}" id="title">JavaScript complete guide.</td>
                <td th:text="${article.description}" id="desc">Description</td>
                <td id="image">
                    <img width="50%" th:src="@{${'/images/' + article.img}}"
                         alt="" />
                </td>
                <td>
                    <div id="table-button" style="display: flex; justify-content: space-around;">
                        <!-- btn show -->
                        <a type="button" class="btn btn-primary mb-2 btn-view"
                           th:attr="data-mdb-target=${'#viewModal'+ article.id}"
                                data-mdb-toggle="modal" data-mdb-target="#viewModal">
                            <i class="fas fa-search text-light"></i>
                        </a>
                        <!-- btn update -->
                        <a th:href="@{/update/(id=${article.id})}" type="button" class="btn btn-light mb-2 btn-update"
                           data-mdb-toggle="modal" th:attr="data-mdb-target=${'#updateModal'+ article.id}">
                            <i class="fas fa-pen text-dark"></i>
                        </a>
                        <!-- btn delete -->
                        <a th:href="@{/delete/(id=${article.id})}" type="button" class="btn btn-danger mb-2">
                            <i class="fas fa-trash text-light"></i>
                        </a>
                    </div>
                    <div>
                        <!-- Modal update Article-->
                        <div class="modal fade" th:id="${'updateModal' + article.id}" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="updateModalLabel">Update article</h5>
                                        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <!--/*@thymesVar id="article" type=""*/-->
                                        <form action="/update" th:object="${article}" method="post" enctype="multipart/form-data">
                                            <!-- id -->
                                            <div class="mb-1">
                                                <label for="update-id" class="col-form-label">Id</label>
                                                <input th:value="${article.id}" name="id" type="number" class="form-control" id="update-id" readonly>
                                                <p></p>
                                            </div>
                                            <!-- title -->
                                            <div class="mb-1">
                                                <label for="update-title" class="col-form-label">Title</label>
                                                <input th:value="${article.title}" name="title" type="text" class="form-control" id="update-title" required>
                                                <p></p>
                                            </div>
                                            <!-- description -->
                                            <div class="mb-1">
                                                <label for="update-desc" class="col-form-label">Description</label>
                                                <input th:value="${article.description}" name="description" type="text" class="form-control" id="update-desc">
                                            </div>
                                            <!-- img -->
                                            <div class="mb-1">
                                                <!-- Choose File -->
                                                <label th:for="${'update-file' + article.id}" class="col-form-label">Choose Update Image</label>
                                                <input name="updateFile" type="file" class="form-control mb-3" th:id="${'update-file' + article.id}" accept="image/*" onchange="showPreview(event, this.id );"/>
                                                <img style="width: 50%" class="mb-3"
                                                     th:src="@{${'/images/' + article.img}}"
                                                     src=""
                                                     alt=""/>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-primary" id="btn-update">Save</button>
                                                <button type="button" class="btn btn-danger" data-mdb-dismiss="modal">Close</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal view Article-->
                        <div class="modal fade" th:id="${'viewModal'+article.id}" tabindex="-1" aria-labelledby="viewModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="viewModalLabel">View article</h5>
                                        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <!--/*@thymesVar id="article" type=""*/-->
                                        <form th:object="${article}">
                                            <!-- id -->
                                            <div class="mb-1">
                                                <label for="view-id" class="col-form-label">Id</label>
                                                <input th:value="${article.id}" name="id" type="number" class="form-control" id="view-id" readonly>
                                                <p></p>
                                            </div>
                                            <!-- title -->
                                            <div class="mb-1">
                                                <label for="view-title" class="col-form-label">Title</label>
                                                <input th:value="${article.title}" name="title" type="text" class="form-control" id="view-title" readonly>
                                            </div>
                                            <!-- description -->
                                            <div class="mb-1">
                                                <label for="view-desc" class="col-form-label">Description</label>
                                                <input th:value="${article.description}" name="description" type="text" class="form-control" id="view-desc" readonly>
                                            </div>
                                            <!-- img -->
                                            <div class="mb-1">
                                                <!-- Choose File -->
                                                <label for="view-img" class="col-form-label">Image</label>
                                                <img style="width: 50%; display: block;" class="mb-3" id="view-img"
                                                     th:src="@{${'/images/' + article.img}}"
                                                     alt=""/>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" data-mdb-dismiss="modal">Close</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal Create new Article-->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Create new article</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!--/*@thymesVar id="article" type=""*/-->
                <form action="/add" th:object="${article}" method="post" enctype="multipart/form-data">
                    <!-- title -->
                    <div class="mb-1">
                        <label for="new-title" class="col-form-label">Title</label>
                        <input name="title" type="text" class="form-control" id="new-title" required>
                        <p></p>
                    </div>
                    <!-- description -->
                    <div class="mb-1">
                        <label for="new-desc" class="col-form-label">Description</label>
                        <input name="description" type="text" class="form-control" id="new-desc">
                    </div>
                    <!-- img -->
                    <div class="mb-1">
                        <!-- Choose File -->
                        <label for="new-file" class="col-form-label">Choose Image</label>
                        <input name="file" type="file" accept="image/*"
                               class="form-control mb-3" id="new-file" onchange="showPreview(event, 'preview');"/>
                        <img id="preview" style="width: 50%; display: none;" class="mb-3"
                             src=""
                             alt=""/>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id="btn-save">Save</button>
                        <button type="button" class="btn btn-danger" data-mdb-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- footer -->
<footer>
</footer>

<!-- MDB -->
<script type="text/javascript" src="../js/mdb.min.js"></script>
<!-- Custom Script -->
<script>
    function showPreview(event, id){
        if(event.target.files.length > 0){
            console.log(event)
            let src = URL.createObjectURL(event.target.files[0]);
            let preview = document.getElementById(id).nextElementSibling;
            preview.style.display = "block";
            preview.src = src;
        }
    }
    const onLanguageChange = (value) => {
        window.location.replace('?lang=' + value);
    }
</script>
</body>

</html>